body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #4169E1;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* pridane CSS styly*/
ul.recent-3 { 
    margin: 20px 0px 20px 0px; 
    font-size: 1.2em;
	height: 10em;
}
ul.recent-3 li {
	padding: 5px;
    list-style: none;
	width: 30%;
	float: left;
}
ul.wpub {
	padding-inline-start: 0px;
}
ul.wpub li {
    list-style: none;
	display: inline;
    margin-right: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.assignment p {
	font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
}
.assignment ul li {
	font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
}
.assignment ul li ul li{
	font-size: 1em;
    line-height: 1em;
    color: #333;
}
.photo-gallery img {
	width: 75%;
}
.skill div {
	overflow: auto;
}
.skill div div {
	float:left; 
	margin-block-end: 0.83em; 
	margin-inline-end: 0.83em; 
	margin-block-start: 0.83em
}
.skill div h2 {
	width:50%;
	float:left
}