<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
			<link rel="shortcut icon" type="image/x-icon" href="/images/blue-document-smiley-icon.ico">
		</head>
		<body>
			{% include nav.html %}
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			{% include footer.html %}
		</body>
	</html>

	